<div class="ss-carousel-container" id="carousel">

    {{ $langData := index .Site.Data .Site.Language.Lang }}
    {{ $data := $langData.home }}

    <!-- 轮播区域 -->
    <div id="container" class="ss-carousel-btn-group">
        <div class="ss-carousel-btn-active"></div>
        <div class="ss-carousel-btn"></div>
        <div class="ss-carousel-btn"></div>
    </div>
    <div id="warp" style="position: absolute;width: 100%;">
        <div class="ss-carousel-page">
            <img class="ss-carousel-img" style="position: absolute; z-index: -1;"
                src="{{ (resources.Get "img/carousel/img1.png").RelPermalink }}">
            <div class="slogan">
                <div class="home-container" style="margin-top:0;">
                    <h1 class="slogan-title">{{ $data.slogan_1.title }}</h1>
                    <p class="slogan-description">
                        {{ $data.slogan_1.description }}
                    </p>

<!--     
                    <div class="button-groups">
                        <a class="home-button -shadow"
                            href="{{ $data.slogan.quick_start_link }}">{{ $data.slogan_1.quick_start_text }}</a>
                        <a class="home-button -outline" href="{{ $data.slogan_1.github_link }}">{{ $data.slogan_1.button_name }}</a>
                    </div>
     -->   
                </div>
            </div>
            <div style="position: absolute;;text-align: center;width: 100%;bottom:12%">
                <a target="_blank" style="color:#ff6a00" href="https://yunqi.aliyun.com/2020/session30">点击观看</a>
            </div> 
        </div>
        <div class="ss-carousel-page">
            <img class="ss-carousel-img" style="position: absolute; z-index: -1;"
                src="{{ (resources.Get "img/carousel/img2.png").RelPermalink }}">
            <div class="slogan">
                <div class="home-container" style="margin-top:0;">
                    <h1 class="slogan-title">{{ $data.slogan_2.title }}</h1>
                    <p class="slogan-description">
                        {{ $data.slogan_2.description }}
                    </p>

                    <div class="button-groups">
                        <a class="home-button -shadow"
                            href="{{ $data.slogan_2.quick_start_link }}">{{ $data.slogan_2.quick_start_text }}</a>
                        <a class="home-button -outline" href="{{ $data.slogan_2.github_link }}">{{ $data.slogan_2.button_name }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ss-carousel-page">
            <img class="ss-carousel-img" style="position: absolute; z-index: -1;"
                src="{{ (resources.Get "img/carousel/img3.png").RelPermalink }}">
            <div class="slogan">
                <div class="home-container" style="margin-top:0;">
                    <h1 class="slogan-title">{{ $data.slogan_3.title }}</h1>
                    <p class="slogan-description">
                        {{ $data.slogan_3.description }}
                    </p>

    <!-- 
                    <div class="button-groups">
                        <a class="home-button -shadow"
                            href="{{ $data.slogan.quick_start_link }}">{{ $data.slogan_3.quick_start_text }}</a>
                        <a class="home-button -outline" href="{{ $data.slogan_3.github_link }}">{{ $data.slogan_3.button_name }}</a>
                    </div>
     -->
                </div>
            </div>
        </div>
    </div>
</div>
